p(class='extra')
div(class='header-result') Wiki Search
p(class='extra')
form(action='result',method='GET')
  input(type='text', size=40, name='q', id='search-input')
  input(class='submit' type='submit' value='Search')
p(class='extra')