center(id='lite_wrapper')
  br
  span(class='header') Wiki Search
  br
  br
  form(action='result')
    input(type='text', size=40, name='q', id='search-input')
    input(class='submit' type='submit' value='Search')