body {
    width: 80%;
    margin-top: 0;
    display: block;
    margin-left:10%;
    margin-right:10%;
}

input{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 11px system-ui;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.submit {
    height: 40px;
    font-size: 1.2em;
}

input[type="submit" i] {
    -webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 1px 7px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-image: initial;
    margin-left: 10px;
}

.header {
    font-size: 32px;
    font-weight: bold;
    color: #dc5e47;
}

#lite_wrapper {
    position: relative;
    top: 25%;
}

center {
    display: block;
    text-align: -webkit-center;
}

#search-input{
    border-color: #dc5e47;
    border-style: solid solid solid solid;
    border-width: 1px 1px 1px 1px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 20px;
    padding: 5px 10px;
    text-align: left;
    width: 60%;
    max-width: 600px;
    height: 45px;
}

.extra {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 1.3em;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.header-result {
    font-size: 32px;
    font-weight: bold;
    color: #dc5e47;
    height: 32px;
    line-height: 32px;
}

div {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table[Attributes Style] {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th, td {
    margin: 0;
    padding: 0;
    font-size: 107.1%;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

a{
    text-decoration: none;
    color: #dc5e47
}

a:link {
    cursor: pointer;
}

a:hover{
   background-color:transparent;    
}

b {
    font-weight: bold; 
}

b:hover{
    background-color:transparent; 
    text-decoration: underline;
}

.result-snippet {
    font-size: 77.4%;
}

.result-snippet p{
    line-height: 1.5em;
    font-size: 1.1em;
    color: #545454;
}

.count-result{
    font-size: 1.2em;
}

.list-result{
    font-size: 1.2em;
}

.sub-url{
    font-size: 16px;
    padding-top: 1px;
    line-height: 1.5;
    color: #197136;
    font-style: normal;
}

.sub-url:hover{
    cursor: pointer;
    background-color:transparent;
}

/*pagination*/
.page-navigation{
    text-align: center
}

nav {
    display: block;
}
.pagination {
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

*, ::after, ::before {
    box-sizing: border-box;
}

a:hover {
  background-color: #b3b7bb59;
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#current-page{
    font-weight: bold;
    color: #dc5e47;
}
