extends abstract.pug

block body
    include components/result_search.pug
    table(border='0')
      tbody
        tr
          td
            p= 'Found ' + count + ' result(s)'
    table(border='0')
      tbody
        each doc in docs
          tr
            td
              a(href=doc.url[0])
                b= doc.title
                br
            td
          tr
            td(class='result-snippet')
              b= doc.overview
              br
              br
              br
