extends abstract.pug

block body
    include components/search_input.pug
    p= 'Found ' + count + ' result(s)'
    ul
      each doc in docs
        a(href=doc.url[0])
          li= doc.title
        p= doc.overview
