center(id='lite_wrapper')
  br
  span(class='header') 
      a(href="/") Wiki Search
  br
  br
  form(action='result',method='GET')
    input(type='text', size=40, name='q', id='search-input')
    input(class='submit' type='submit' value='Search')